*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --primary: #0F0F0F;
    --secondary: #222831;

    --thead-bg: #222831;
    --tbody-bg: #ffffff;
    --row-nth-bg: #6f747c;

    --highlight-color: #A5C9CA;
}

body{
    min-height: 100vh;
    display: grid;
    place-items: center;
    background: var(--primary);
    font-family: Roboto, sans-serif;
}

/*-------*/

#container{
    margin: 16px;
    width: 90%;
    max-width: 1100px;
    background: var(--secondary);
    padding: 16px;
    border-radius: 8px;
    color: white;
    display: flex;
    gap: 12px;
    max-height: 95vh;
}

#container-tabela{
    width: 60%;
    overflow-y: scroll;
    position: relative;
}

/*-------*/

#container-tabela table{
    width: 100%;
    background: var(--secondary);
    color: black;
}

#container-tabela table thead{
    background: var(--thead-bg);
    color: white;
    top: 0;
    position: sticky;
    width: 100%;
}

#container-tabela table thead th, #container-tabela table tbody tr td{
    text-align: center;
    padding-block: 12px;
}

/*-------*/

#container-tabela table tbody{
    background: var(--tbody-bg);

}

#container-tabela table tbody tr:nth-child(2n){
    background: var(--row-nth-bg);
    color: white;
}

/*-------*/
#container-form {
    width: 40%;
    padding: 16px;

}

#container-form h1{
    margin-bottom: 0;
}

#container-form form > p{
    margin-bottom: 18px;
    width: 70%;
}

#container-form form div{
    margin-bottom: 16px;
    flex: 1;
}
#container-form form div label {
    display: block;
    margin-bottom: 12px;
}

#container-form form div input, #container-form form button {
    padding: 8px  12px ;
    border-radius: 3px;
    border: none;
    outline: none;
}

#container-form form button{
    background: var(--highlight-color);
    cursor: pointer;
}

/* -------- */

#container-form #container-sobre{
    margin-top: 35px;
    background: white;
    color: black;
    padding: 16px;
    border-radius: 5px;
    position: relative;
}

#container-form #container-sobre #sobre{
    margin-top: 16px;
}

#container-form #container-sobre:before{
    position: absolute;
    top: -18px;
    left: 0;
    height: 5px;
    width: 100px;
    content: '';
    background: white;
    opacity: .1;
}

#container-form #container-sobre #integrantes{
    margin-top: 16px;
    font-style: italic;
}


::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--highlight-color);
}